#formacion {
    padding: 40px 0;
    background-color: #FFFFFF;
    background: linear-gradient(to left, #e7e7e7, transparent);

}

.academic__courses {
    margin: 0 30px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


.card {
    width: 400px;
    height: 350px;
    background: #fff;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(15px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
    margin: 40px;
}

.img-bx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    transform: translateY(30px) scale(0.5);
    transform-origin: top;
}

.img-bx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    top: 27% ;
}

.content .detail {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.content .detail h2 {
    color: #444;
    font-size: 1.6em;
}

.content .detail h2 span {
    font-size: 16px;
    color: #8a8989;
}

@media (max-width: 500px) {
    .card {
        width: 280px;
        height: 350px;
    }

    .img-bx img {
        width: 80%;
        height: 70%;
        object-fit: cover;
    }

    .content {
        top: 24% ;
    }
    
}
