#contacto{
    background-color: #e7e7e7;
    padding: 40px 0;
}

.formcontato__contacto{
    margin: 0 30px;
}

.formcontato__text{
    padding: 40px 0;
}

.formcontato__text-secondtext{
    margin-bottom: 20px ;
}

.formcontato__subtext{
    color: var(--color-textos);
    font-weight: 100;
    font-size: 20px;
  
}

.formcontato__form{
    display: flex;
    flex-direction: column;
}
.input textarea {
    color: #A2A2A2 !important;
    outline: none;
    border: none;
    resize: none;
    min-height: 150px;

}

input {
    background-color: #FFF;
    margin: 20px 0px 0;
    border-radius: 60px;
}
.input {
    background-color: white;
    border-radius: 10px;
	display: flex;
	flex-direction: column;
	position: relative;
	padding-top: 1.5rem;
	&+.input {
		margin-top: 1.5rem;
	}
}

.input-label {
    padding-left: 10px;
	color: #A2A2A2;
	position: absolute;
	top: 1.5rem;
	transition: .25s ease;
}

.input-labell{
    color: red;
}

.input-field {
    background-color: #8597a3;
	border: 0;
	z-index: 1;
	background-color: transparent;
	border-bottom: 2px solid #eee; 
	font: inherit;
    margin-left: 5px;
	font-size: 1.125rem;
	&:focus, &:valid {
		outline: 0;
		border-bottom-color: #6658d3;
		&+.input-label {
			color: #6658d3;
			transform: translateY(-1.0rem);
		}
	}
}

.input-fieldd{
    border-bottom-color: red;
}
.textarea-field {
    background-color: #8597a3;
    border: 0;
    z-index: 1;
    background-color: transparent;
    border-bottom: 2px solid #eee;
    font: inherit;
    margin-left: 5px;
    font-size: 1.125rem;
}

.textarea-field:focus, .textarea-field:valid {
    outline: 0;
    transform: translateY(1.2rem);
    border-bottom-color: #6658d3;
}

.textarea-field:focus + .textarea-label, .textarea-field:valid + .textarea-label {
    color: #6658d3;
    margin-left: 10px;
    transform: translateY(-10rem);
    
}

.action {
	margin-top: 2rem;
}

.action-button {
	font: inherit;
	font-size: 1.25rem;
	padding: 1em;
	width: 100%;
	font-weight: 500;
	background-color: #6658d3;
	border-radius: 6px;
	color: #FFF;
	border: 0;
	&:focus {
		outline: 0;
	}
}

.card-info {
	padding: 1rem 1rem;
	text-align: center;
	font-size: .875rem;
	color: #8597a3;
	a {
		display: block;
		color: #6658d3;
		text-decoration: none;
	}
}

.action-button:hover{
    cursor: pointer;
	background-color: #7568d6ec;
}

.formcontato__img{
    display: none;
}


@media (min-width: 1200px) {
    .formcontato__contacto{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .formcontato__img{
        display: block;
        margin-right: 10px;
        height: 600;
        border-radius: 20px;
    }

    .contact__form{
        display: flex;
        flex-direction: column !important;
    }
}